.Rproj.user
.Rhistory
.RData
.Ruserdata

*.out
lookout/*_cache/
lookout/*_files/
lookout/figure/
lookout/cache/*
lookout.md

*.Ruserdata

*.rdb
*.rdx
*.aux
*.bbl
*.bcf
*.blg
*.out
*.run.xml
*.log
*.synctex.gz
*_latexmk
*.fls

# History files
*.Rhistory
*.Rapp.history
*.RDataTmp

# Session Data files
*.RData

# RStudio files
*.Rproj.user/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

